.header{
  width: 420px;
  height: 320px;
  border: 1px solid black;
  padding: 18px;
  text-align: left;
  background-color: #d3d3d3;

}
button{
display: inline-block;
background-color: #a8a8a8;
color: black;
font-size: 15px;
padding: 10px;
border-radius: 50%;
font-family: sans-serif;
}
button:active{
  font-weight: bold;
  padding: 8px 13px 6px;
}
